body {
    background-color: rgb(90, 202, 240);
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  h2 {
    color: white;
    text-align: center;
  }
  h3 {
    color: rgb(196, 67, 67);
    text-align: center;
  }
  h4 {
    color: rgb(223, 20, 132);
    text-align: center;
  }
  h5 {
    color: rgb(158, 6, 31);
    text-align: left;
  }
  h6 {
    color: rgb(158, 6, 31);
    text-align: left;
  }
  p {
    font-family: verdana;
    font-size: 20px;
  }
  footer{ min-height:50px; background:PapayaWhip; }